:root {
    --border-radius: 5px;
    --animated-drop-down: max-height 0.1s ease-in;
}

.search {
    border-radius: var(--border-radius)
}

.dropdown {
    border-radius: var(--border-radius);
}

.edit-quick form {
    border-radius: var(--border-radius)
}

.tab button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.tab {
    border-radius: var(--border-radius);
}


@media(min-width:1100px) {
    main {
        display: grid;
        margin: 2rem;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: auto;
        align-items: start;
        grid-template-areas: "mainleft mainright";
    }

    .main-right {
        position: relative;
        top: 10%;
        grid-area: mainright;
        width: 100%;
    }

    .main-left {
        grid-area: mainleft;
        display: flex;
        flex-direction: column;
    }
}