.engine-bar {
    display: flex;
    flex-wrap: wrap;
    gap: .25em;
    margin: 15px 10px 5px 10px
}

.search {
    display: flex;
    padding: .25rem 1rem;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background-color: var(--fg-color);
}

.search-drop {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
}

.search Strong {
    color: var(--bg-color);
    letter-spacing: .25rem;
    font-weight: 500;
    font-size: large
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 5px;
    right: 5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--body-bg-color);
    background-color: var(--fg-color);
    height: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: 0;
    transition: var(--animated-drop-down)
}

.search-drop:focus-within .dropdown {
    max-height: 40vh;
    padding: 2.5px
}

.dropdown a {
    display: flex;
    padding: .35rem;
    justify-content: space-between;
    letter-spacing: .15rem
}

.dropdown a:hover {
    background-color: var(--focus-bg)
}

.dropdown a p:nth-child(2) {
    font-size: small;
    letter-spacing: normal
}

.shortcuts {
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 auto;
    margin: 15px auto;
    gap: 15px
}

.shortcuts div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    font-size: larger;
    letter-spacing: .1rem;
    padding: 0.5rem 0.5rem;
}

.shortcuts div button {
    height: 50px;
    width: 50px
}

.shortcuts div p {
    font-weight: 600;
    font-size: 1rem;
}

.main-right {
    width: 100%;
}

.essentials {
    display: flex;
    gap: 1rem;
    margin: 0.5rem;
}

.essentials button {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
}

.essentials button p {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1;
    display: inline-block;
}
.main-left{
    width: 80%;
}