.engine-bar {
    display: flex;
    flex-wrap: wrap;
    gap: .25em;
    margin: 15px 10px 5px 10px
}

.search {
    display: flex;
    padding: .25rem 1rem;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    background-color: var(--fg-color);
}

.search-drop {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    min-width: 50vw;
    max-width: 90vw
}

.search Strong {
    color: var(--bg-color);
    letter-spacing: .25rem;
    font-weight: 500;
    font-size: large
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 5px;
    right: 5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--body-bg-color);
    background-color: var(--fg-color);
    height: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: 0;
    transition: var(--animated-drop-down)
}

.search-drop:focus-within .dropdown {
    max-height: 40vh;
    padding: 2.5px
}

.dropdown a {
    display: flex;
    padding: .35rem;
    justify-content: space-between;
    letter-spacing: .15rem
}

.dropdown a:hover {
    background-color: var(--focus-bg)
}

.dropdown a p:nth-child(2) {
    font-size: small;
    letter-spacing: normal
}

.shortcuts {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    margin: 15px auto;
    gap: 15px
}

.shortcuts div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    font-size: larger;
    letter-spacing: .1rem
}

.shortcuts div a {
    padding: 1rem 1rem;
}

.shortcuts div button {
    height: 50px;
    width: 50px
}

.right-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px
}

.edit-quick {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / .4)
}

.tab .buttonsel {
    background-color: var(--bg-color);
    color: var(--fg-color)
}

.tab button {
    border: 1px solid var(--bg-color);
}

.tab {
    background-color: var(--fg-color);
    width: 400px;
    padding-top: 5px;
    padding-left: 5px
}

.edit-quick form {
    width: 400px;
    max-height: 600px;
    background-color: var(--bg-color);
    border-bottom: 2px solid var(--fg-color);
    border-left: 2px solid var(--fg-color);
    border-right: 2px solid var(--fg-color)
}


#rearrange div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 5px;
    flex-direction: row
}

#rearrange div div {
    gap: 5px
}

#rearrange div button {
    background-color: var(--bg-color)
}

#modify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding: 10px;
    color: var(--fg-color)
}

#modify button:first-of-type {
    background-color: red;
    color: #fff
}

#add {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

#add button {
    background-color: green;
    color: #fff
}

.game-clock {
    display: flex;
    align-items: center;
    width: clamp(50vw, 800px, 90%);
    position: relative;
    border: 1px solid var(--fg-color);
}

.clock {
    opacity: 1;
    position: absolute;
    right: 10%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    transition: opacity 0.3s ease;
    z-index: 10;
}
.clock.hidden{
    opacity: 0;
}